/* Selector global, berfungsi untuk mengubah styling seluruh isi dokumen */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

/* Selector global, berfungsi untuk mengubah styling seluruh elemen dalam body */
body
{
    /* Mengubah jenis font */
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    /* Mengubah warna  */
    color: #0F0F0F;
}

a
{
    text-decoration: none;
}

img
{
    max-width: 15rem;
    padding: .5rem;
}

/* Bagian Header */

header
{
    padding: 0 2rem;
    background: url(../images/hero_bg.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 85vh;
}

header nav
{
    position: fixed;
    z-index: 1;
    padding: .75rem 0;
}

header nav ul
{
    list-style: none;
    display: flex;
}

header nav ul li
{
    padding: .5rem 2rem;
}

header nav ul li a
{
    font-size: 1.25rem;
    color: #FBFBFB;
    display: inline-block;
    margin: 1.25rem 0;
    text-shadow: 1px 3px 1px rgba(0, 0, 0, .75);
    transition: .75s ease;
}

header nav ul li:hover a
{
    color: #9A8C98;
    font-size: 1.5rem;
    transition: .75s ease;
}

header nav ul li#logo
{
    font-family: 'Lobster',cursive;
    margin: 0 6rem 0 0;
}

header nav ul li#logo h2
{
    color: #FBFBFB;
    text-shadow: 1px 3px 1px rgba(0,0,0,.75); 
    font-size: 3rem;
}

header nav ul li#logo h2 span
{
    color: #9A8C98; 
    font-size: 3rem;
}

/* Bagian Section dalam Header */

header section.hero
{
    display: inline-block;
    margin: 10rem 2rem;
    text-shadow: 1px 3px 1px rgba(0,0,0,.75);
}

header section.hero h2
{
    font-size: 2.5rem;
    color: #FBFBFB;
    margin: .75rem 0;
}

header section.hero p
{
    color: #FBFBFB;
    font-size: 1.25rem;
    margin: .75rem 0;
}

header section.hero a
{
    font-family: 'Lobster',cursive;
    display: inline-block;
    margin: 2rem 0;
    padding: .5rem 1rem;
    border: 3px solid #FBFBFB;
    color: #FBFBFB;
    font-size: 1.5rem;
    border-radius: .5rem;
    transition: .75s ease;
}

header section.hero a:hover
{
    background-color: #9A8C98;
    text-shadow: -1px -3px -1px rgba(255,255,255,.75);
    transition: .75s ease;
}

/* Bagian Product */

section#product
{
    background-color: #FBFBFB;
    padding: 2rem;
}

section#product h1
{
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 1px 3px 1px rgba(0,0,0,.75);
    color: #9a8c98;
}

section#product .wrapper
{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, minmax(200px,auto));
    gap: 2rem;
}

section#product .wrapper article
{
    margin: 2rem 0;
    padding: 2rem;
    text-align: center;
    background-color: #4a4e69;
    box-shadow: 1px 5px 3px 1px rgba(0,0,0,0.75);
    border-radius: 2rem;
    max-height: 315px;
    overflow: hidden;
}

section#product .wrapper article h2
{
    color: #FBFBFB;
    margin: 0 0 .5rem;
}

section#product .wrapper article figure
{
    margin: 0 0 1rem;
}

section#product .wrapper article figure figcaption
{
    font-size: 1.15rem;
    font-weight: 500;
    margin: .75rem 0 0;
    color: #FBFBFB;
}

section#product .wrapper article a
{
    display: inline-block;
    color: #FBFBFB;
    border: 2px solid #FBFBFB;
    padding: .5rem 1.25rem;
    border-radius: 50px;
    margin: .5rem 0;
}