@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

/* Global Selector */

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}


/* Header */

header
{
    display: flex;
    padding: 1rem;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, .45);
}

header .logo
{
    flex: 0 0 25%;
    margin: auto;
}

header .logo a,
header .logo a span
{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

header .logo a
{
    color: #030303;
}

header .logo a span
{
    color: #e15c5c;
}

header nav
{
    flex: 0 0 75%;
    display: flex;
}

header nav .menu-header
{
    flex: 0 0 65%;
    display: flex;
}

header nav .menu-header li
{
    flex: 0 0 20%;
    margin: auto;
    text-align: center;
}

header nav .menu-header li a
{
    font-weight: 500;
    color: #030303;
}

header nav .menu-user
{
    flex: 0 0 35%;
    display: flex;
}

header nav .menu-user li
{
    flex: 0 0 20%;
    align-self: flex-start;
    margin: auto 0 auto 1rem;
    text-align: center;
}

header nav .menu-user li a
{
    color: #030303;
}

header nav .menu-user li a i
{
    padding: 1rem;
    border-radius: 50%;
    background-color: #ececec;
}

/* Slider */

.slider-container
{
    max-width: 100%;
    max-height: 30rem;
    position: relative;
}

.slider-container .mySlide
{
    width: 100%;
    position: relative;
}

.slider-container .mySlide img
{
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
}

.slider-container .mySlide .slider-text
{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.slider-container .mySlide .slide-satu
{
    color: #f3f3f3;
}

.slider-container .mySlide .slide-satu p
{
    font-size: 1.75rem;
    margin: 1rem 0;
}

.slider-container .mySlide .slide-satu span
{
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
}

.slider-container .mySlide .slide-satu a
{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: .5rem .75rem;
    border: 3px solid #f3f3f3;
    border-radius: 5px;
    font-size: 1.25rem;
    color: #f3f3f3;
    box-shadow: 1px 3px 3px rgba(0,0,0,0.75);
}