@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');
/* global selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color:grey;
    background-color: #e3e3e3;
}

/* header */
#logo{
    float: left; 
    margin-left: 3rem;
}

nav{
    float: right;
    margin-top: 1rem;
    margin-right: 3rem;
}

#content>section>ul>li{
    padding: 20px 0 0 0;
}

header{
    background-color: #d93337;
    padding: .75rem;  
    overflow: hidden;
    border-bottom: 5px solid rgb(110, 5, 5);
}

header:after{
    content: "";
    clear: both;
    display: block;
}

header a{
    color: #ffffff;
    text-decoration: none;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 0 1rem;
}

nav li a{
    padding: .75rem 1rem;
    font-size: 1.25rem;
    font-weight: 900;
}

#logo h1{
    font-weight: 900;
}

#logo h2{
    font-weight: 400;
    font-size: 1.15rem;
}

/* content */
.container{
    text-align: center;
    padding: 20px;
    overflow: hidden;
}
.container h1{
    margin: 20px;
}

.conatiner ul p{
    margin: 20px;
    padding: 10px 0px;
}

.conatiner img{
    position: relative;
}

.container ul li{
    padding: 20px;
    margin: 20px;
    display: inline-block;
    overflow: hidden;
}

/* footer */
footer{
    text-align: center;
    padding: 40px 0 25px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.social{
    padding: 10px 0 15px 0;
}

.social li{
    display: inline-block;
}

.social img{
    max-width: 2.5rem;
    padding: 0 5px 0 0;
}

