*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #030303;
}

a
{
    text-decoration: none;
}

.wrapper
{
    width: 80%;
    margin: 0 auto;
    padding: 1rem 2rem;
}

/* Color Palette */
/*

    Primary : #274C77
    Secondary : #6096BA
    Tertiary : #A3CEF1
    Accent : #E7ECEF
    Backup : #8B8C89

*/

/* Bagian Header */
header
{
    background-color: rgba(0,0,0,0.90);
    padding: 1rem;
    overflow: hidden; 
    border-bottom: 5px solid #f2f2f2;
    position: fixed;
    top: 0;
    width: 100%;
}

header #logo
{
    float: left;
}

header #logo h1
{
    color: #aac148;
    font-size: 2.25rem;
    margin: .85rem 0 0;
}

header #logo h1 span
{
    color: #73a1fb;
}

header nav
{
    float: right;
}

header ul
{
    list-style: none;
}

header li
{
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: .35rem 0 0;
}

header li a
{
    color: #E7ECEF;
    font-size: 1.5rem;
    font-weight: 700;
}

/* Bagian Section dan Wrapper */

#index-section
{
    background-color: #e3e3e3;
    margin-top: 6.25rem;
}

#index-section h1
{
    text-align: center;
    font-size: 2.5rem;
    color: #030303;
    margin: 2rem 0 1rem;
}

#index-section ul
{
    list-style: none;
}

#index-section li
{
    display: inline-block;
    margin:  2.85rem;
}

#index-section ul.second-row li
{
    margin: 3.20rem;
}

#index-section li figure
{
    text-align: center;
}

/* Animation Hover Icon */
#index-section li figure:hover figcaption
{
    margin-top: 1.5rem;
    transition: .75s ease-in-out;
}

#index-section li figure:hover img
{
    transform: scale(1.15);
    transition: .75s ease-in-out;
}

#index-section img
{
    max-width: 10rem;
    transition: .75s ease-in-out;
}


#index-section li figure figcaption
{
    margin: 1.15rem 0;
    color: #030303;
    font-weight: 700;
    transition: .75s ease-in-out;
}

/* Bagian Section About  */
#about-section
{
    background-color: #030303;
    color: #f2f2f2;
    overflow: hidden;
    padding: 1.5rem 2rem;
}

#about-section .left-panel
{
    float: left;
    text-align: center;
    width: 35%;
}

#about-section .left-panel h1
{
    line-height: 3.2;
    color: #aac148;
    font-size: 2.5rem;
}

#about-section .left-panel h1 span
{
    color: #73a1fb;
}

#about-section .left-panel img
{
    max-width: 12rem;
}

#about-section .right-panel
{
    float: right;
    width: 65%;
    border-left: 3px solid rgba(255, 255, 255, 0.85);
    padding: 1rem 2.5rem;
}

#about-section .right-panel h2
{
    margin: 1rem 0;
    font-size: 2.25rem;
}

#about-section .right-panel p
{
    margin: .75rem 0;
}

#about-section .right-panel p i
{
    font-weight: 700;
}

#about-section .right-panel a
{
    color: #f2f2f2;
    display: inline-block;
    margin: 1rem 0;
    border: 1px solid #ffffff;
    padding: .75rem 1rem;
    border-radius: 5px;
    font-weight: 500;
}

/* Animation Button About-Section */

#about-section .right-panel a:hover
{
    color: #030303;
    background-color: #f2f2f2;
    border: 1px solid #030303;
}

/* Bagian Footer */

footer
{
    background-color: #E7ECEF;
    text-align: center;
}

footer img
{
    max-width: 2.25rem;
    margin: 1rem 1rem .5rem;
}

footer p
{
    font-size: 1.25rem;
    color: #274C77;
    font-weight: 500;
}


