*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #030303;
}

a
{
    text-decoration: none;
}

.wrapper
{
    width: 80%;
    margin: 0 auto;
    padding: 1rem 2rem;
}

/* Color Palette */
/*

    Primary : #274C77
    Secondary : #6096BA
    Tertiary : #A3CEF1
    Accent : #E7ECEF
    Backup : #8B8C89

*/

/* Bagian Header */
header
{
    background-color: #274C77;
    padding: 1rem;
    overflow: hidden; 
    border-bottom: 7px solid #6096ba;
    position: fixed;
    top: 0;
    width: 100%;
}

header #logo
{
    float: left;
}

header #logo h1
{
    color: #E7ECEF;
    font-size: 2.25rem;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

header #logo h2
{
    color: #E7ECEF;
    font-size: 1.75rem;
    padding: 0;
    margin: 0;
}

header nav
{
    float: right;
}

header ul
{
    list-style: none;
}

header li
{
    display: inline-block;
    padding: 1rem 1.5rem;
}

header li a
{
    color: #E7ECEF;
    font-size: 1.5rem;
    font-weight: 700;
}

/* Bagian Section dan Wrapper */

#index-section
{
    background-color: #a3cef1;
    margin-top: 7rem;
}

#index-section h1
{
    text-align: center;
    font-size: 2.5rem;
    color: #6096ba;
    margin: 2rem 0 0;
}

#index-section ul
{
    list-style: none;
}

#index-section li
{
    display: inline-block;
    margin:  3rem;
}

#index-section li figure
{
    text-align: center;
}

/* Animation Hover Icon */
#index-section li figure:hover figcaption
{
    color: black;
    margin-top: 1.5rem;
    transition: .75s ease-in-out;
}

#index-section li figure:hover img
{
    transform: scale(1.15);
    transition: .75s ease-in-out;
}

#index-section img
{
    max-width: 10rem;
    transition: .75s ease-in-out;
}


#index-section li figure figcaption
{
    margin: 1.15rem 0;
    color: #E7ECEF;
    font-weight: 700;
    transition: .75s ease-in-out;
}

/* Bagian Footer */

footer
{
    background-color: #E7ECEF;
    text-align: center;
}

footer img
{
    max-width: 2.25rem;
    margin: 1rem 1rem .5rem;
}

footer p
{
    font-size: 1.25rem;
    color: #274C77;
    font-weight: 500;
}


