header{
    background-color: aqua;
}
nav{
    background-color: lightblue;
}
article{
    background-color: aquamarine;
}
aside{
    background-color: lightseagreen;
}
footer{
    background-color: lightskyblue;
}