*{
    background-color: lightblue;
}

body{
    font-family: arial;
}

h1, h2{
    color: rgb(230, 108, 71);
}

ul li a{
    color: orange;
}
ol li a{
    color: orangered
}
a{
    color: rgb(224, 131, 54)
}

#p1 {
    color: rgb(230, 71, 23);
}
.p2{
    color: rgb(209, 75, 22);
}
.cetak-tebal{
    font-weight: bold;
}
p.cetak-tebal{
    font-size: 30px;
}